
[submodule "ros_impedance_controller"]
	path = ros_impedance_controller
	url = https://github.com/iit-DLSLab/ros_impedance_controller.git
[submodule "robot_control"]
	path = robot_control
	url = https://github.com/mfocchi/robot_control.git
