<?xml version="1.0" ?>
<launch>
     
     <arg name="rviz_conf" default="$(env LOCOSIM_DIR)/robot_control/rviz/config.rviz"/>
     <arg name="test_joints" default="false"/>
     <arg name="robot_name" default="ur"/>

     <param name="/rosout/omit_topics" value="true"/>
     <!-- send the robot XML to param server -->
     <param name="robot_description" command="$(find xacro)/xacro.py '$(env UR5_MODEL_DIR)/ur_description/urdf/ur4_robot.urdf'" />    
     
     <!-- joint_state_publisher publish joint states from sliders-->
     <group if="$(arg test_joints)">
	     <arg name="gui" default="true" />
	     <param name="use_gui" value="$(arg gui)"/>
	     <param name="rate" value="50.0"/>
	     
		
	     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	     <param name="publish_default_efforts" value="True"/>
	     </node>
    </group>

    <!-- run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f world"  />

	
    <!-- start robot state publisher sends joint state data to gazebo, 	convert joint states to TF transforms for rviz, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        
    </node> 

</launch>
